{% extends 'base.html' %}


{% block content %}
<div class="container-main">
    <div class="title-app">
        <h1>Welcome to {{title_store}}</h1>
        <h5>Created by {{name}} from {{class}}</h5>
    </div> 
    <div class="total-item">
        <h4>Anda telah menambahkan {{total_item}} barang ke dalam Inventory.</h4>
    </div>
    <div class="list-item">
        {% for item in items %}
            <div class="item {% if item == last_item %}last-item{% endif %}">
                <div class="image-item">
                    ?
                </div>
                <div class="info-item">
                    <div class="item-name"> 
                        <p>{{item.name}}</p>
                    </div>
                    <div class="item-grade">
                        <p>Grade: {{item.grade}}</p>
                    </div>
                    <div class="item-amount">
                        <p>x{{item.amount}}</p>
                    </div>
                    <div class="btn-cmd">
                        <form method="POST" action="{% url 'main:add_amount' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">+</button>
                        </form>
                        <form method="POST" action="{% url 'main:delete_item' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">remove</button>
                        </form>
                        <form method="POST" action="{% url 'main:reduce_amount' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">-</button>
                        </form>
                    </div>   
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="btn">
        <a href="{% url 'main:create_item' %}">
            <button>
                Add New Item
            </button>
        </a>
    </div>  
        
        <h5>Sesi terakhir login: {{last_login}}</h5>
        
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
</div>
{% endblock content %}